<!--formulari-->

<h3>OMPLE EL FORMULARI</h3>

<form #itemForm="ngForm" (ngSubmit)="onFormSubmit(itemForm)">

  <div class="form-group">
    <label for="nom">Nom:</label>
    <input type="text" class="form-control" #vNom id="nom" name="nom" placeholder="Escriu el teu nom" ngModel required>
  </div>

  <div class="form-group">
     <label for="poblacio">Població:</label>
     <input type="text" class="form-control" #vPoblacio id="poblacio" name="poblacio" placeholder="Escriu la població" ngModel required>
  </div>


  <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" class="form-control" #vEmail id="email" name="email" placeholder="Escriu el teu email" ngModel required>
  </div>

  <div [ngSwitch]="mostrarInfo">
    <div id="correcte" *ngSwitchCase="'Correcte'">Correcte</div>
    <div id="incorrecte" *ngSwitchCase="'Incorrecte'">Incorrecte</div>
  </div>

  <div class="form-group">
     <label for="missatge">Missatge</label>
     <textarea type="text" class="form-control" #vMissatge id="missatge" name="missatge" placeholder="Escriu el teu missatge" ngModel required></textarea>
  </div>

  <div [ngSwitch]="mostrarMensaje">
    <div id="mensaje" *ngSwitchCase="'El texto introducido es demasiado corto'">El texto introducido es demasiado corto</div>
  </div>

  <input type="button" (click)="EnviarDatos(vNom.value, vPoblacio.value, vEmail.value, vMissatge.value)" value="Enviar"/>

  <button type="button" class="btn btn-primary" (click)="onFormSubmit(itemForm)">Si és correcte Desar</button>



</form>


