<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h1>Hal's Cakes Design</h1>

      <p>Diseny i elaboració de receptes pasteleres que enamoren per dins i per fora</p>

      <h2>Personalitzades i al gust.</h2>

      <p>Welcome! Aquest es convertirà en el teu nou lloc de pastissos.</p>

      <p>Hem barrejat tots els ingredients:</p>

      <h4>dolç, disseny, sabors, estil, tendències, visual.......</h4>

      <p>i fornejat fins aconseguir el millor dels resultats.</p>

      <p>No dubtis a preguntar-nos! T'assessorem i adaptem la millor opció per a tu
        i triomfaràs allà on vagis.
      </p>

      <h2>Enamora't del sabor HAL's Cakes&Bakary</h2>
    </div>
  </div>
</div>
