<div class="container-fluid">

  <div class="row">
    <div class="col">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" (click)="canviEvent('Llistat comandes Pendents')">Comandes pendents</button>
        <button type="button" class="btn btn-secondary" (click)="canviEvent('Alta Event')">Alta Event (Alta comanda nova) </button>
        <button type="button" class="btn btn-secondary" (click)="canviEvent('Modificar Event')">Modificar Event (Modifica l'estat de la comanda)</button>
        <button type="button" class="btn btn-secondary" (click)="canviEvent('Eliminar Event')">Eliminar Event  (Comanda lliurada)</button>
        </div>
    </div>
  </div>


<!--ENLLAÇAR CADA BUTTON AMB UNA DE LES OPERACIONS DELS EVENTS, ALTA AMB EL FORMULARI QUE ES GUARDARÀ AL ARRAY LLISTAT
COMANDES, MODIFICAR EVENT QUE AMB FORMULARI MODIFICAREM L'ARRAY DE LLISTAT COMANDES, ELIMINAR EVENT QUE
ELIMINARA LA DADA DE L'ARRAY LLISTAT COMANDES-->
