<div class="container-fluid">

  <div class="row">
    <div class="col">
      <div class="btn-group" role="group" aria-label="Basic example">
        <button type="button" class="btn btn-secondary" (click)="canviEvent('Alta Event')">Alta Event</button>
        <button type="button" class="btn btn-secondary" (click)="canviEvent('Modificar Event')">Modificar Event</button>
        <button type="button" class="btn btn-secondary" (click)="canviEvent('Eliminar Event')">Eliminar Event</button>
        </div>
    </div>
  </div>
